.app.dark {
  --bg-color: #04045b;
  --inverted-bg-color: #f1f1f1;


  --primary-color: #049604;
  --secondery-color: #04ff04;
  --inverted-primary-color: #0c1e6d;
  --inverted-secondery-color: #0066ff;
}