:root {
    --bg-color: #f1f1f1;
    --inverted-bg-color: #0e1487;
    --primary-color: #f00;
    --secondery-color: #0765ef;
    --inverted-primary-color: #049604;
    --inverted-secondery-color: #04ff04;
}
